<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kgapph264player">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="H264Player"
        android:allowBackup="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
